@charset "UTF-8";

@font-face {
  font-family: 'Socicon';
  src: url('/fonts/socicon.eot');
  src: url('/fonts/socicon.eot?#iefix') format('embedded-opentype'),
       url('/fonts/socicon.woff2') format('woff2'),
       url('/fonts/socicon.woff') format('woff'),
       url('/fonts/socicon.ttf') format('truetype'),
       url('/fonts/socicon.svg#socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "Socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "Socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-facebook:before {
  content: "\e028";
}

.socicon-twitter:before {
  content: "\e08d";
}

.socicon-instagram:before {
  content: "\e044";
}

.socicon-youtube:before {
  content: "\e0a5";
}

.socicon-linkedin:before {
  content: "\e049";
}

.socicon-pinterest:before {
  content: "\e063";
}

.socicon-google:before {
  content: "\e034";
}

.socicon-email:before {
  content: "\e01c";
}

